{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> Welcome to my index!</h3>
<a href="\table"> Table </a>
</body>
</html>
{% endblock %}