{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<h3> {{ TITLE }} </h3>
<div class="row">
     <div class="col s12 m7">
    <h2 class="header">{{ PRODUCT.name }}</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <p> Price: {{ PRODUCT.price }}</p>
            <p> Quantity: {{ PRODUCT.quantity }} </p>
        </div>
        <div class="card-action">
          <a href="/">Return to home page</a>
        </div>
      </div>
    </div>
</div>
</div>
<br><br>
<div class="row">
    <form method='POST'>
       <div class="input-field col s3">
           <input name="id" type='hidden' value="{{ PRODUCT.id }}">
          <input id="first_name" type="text" class="validate" name="name" value="{{ PRODUCT.name }}">
          <label for="first_name">Product Name: </label>
        </div>
        <div class="input-field col s3">
          <input id="first_name" type="number" class="validate" name="price" value="{{ PRODUCT.price }}">
          <label for="first_name">Price: </label>
        </div>
        <div class="input-field col s3">
          <input id="first_name" type="number" class="validate" name="quantity" value="{{ PRODUCT.quantity }}">
          <label for="first_name">Quantity: </label>
        </div>
        <div class="col s3">
            <button class="btn waves-effect waves-light" type="submit">Save
            <i class="material-icons right">done</i>
          </button>
        </div>
    </form>
</div>


</body>
</html>
{% endblock %}