{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<h3> {{ TITLE }} </h3>

    <form>
        <div class="row">
        <div class="input-field col s6">
          <input placeholder=" Product Name Here " id="first_name" type="text" class="validate" name="search">
          <label for="first_name">Search Product: </label>
        </div>
        <div class="col s3">
            <button class="btn waves-effect waves-light" type="submit">Search
            <i class="material-icons right">search</i>
          </button>
        </div>
        </div>
    </form>
<table>
    <thead>
     <th>Name</th>
     <th>Price</th>
     <th>Quantity</th>
     <th>Total Value</th>
     <th>Delete</th>
     <th>Edit</th>
    </thead>
    <tbody>
      {% for product in MY_PRODUCTS %}
      <tr>
        <td> <a href='/edit/{{ product.id }}'>{{ product.name }}</a> </td>
        <td> {{ product.price }} </td>
        <td> {{ product.quantity }} </td>
        <td> {{ product.price*product.quantity }} </td>
        <td> <a href="{{ url_for('delete_route',id = product.id )}}"> Delete this product </a></td>
        <td> <a href="{{ url_for('edit_product',product_id = product.id )}}"> Edit this product </a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<br><br>
<div class="row">
    <form method='POST'>
       <div class="input-field col s3">
          <input placeholder=" Product Name Here " id="first_name" type="text" class="validate" name="name">
          <label for="first_name">Product Name: </label>
        </div>
        <div class="input-field col s3">
          <input placeholder=" Product Price Here " id="first_name" type="number" class="validate" name="price">
          <label for="first_name">Price: </label>
        </div>
        <div class="input-field col s3">
          <input placeholder=" Product Quantity Here " id="first_name" type="number" class="validate" name="quantity">
          <label for="first_name">Quantity: </label>
        </div>
        <div class="col s3">
            <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">search</i>
          </button>
        </div>
    </form>
</div>
</body>
</html>
{% endblock %}